body 
{
	background-color: lightgreen;
	color: F00;
	font-family: Times, Georgia, Helvetica, sans-serif;
	font-size: 33px;
	font-weight: 900;
text-align: center;
padding: 100px;
}
main
{
	
	background-color: yellow;
}

footer
{
	background-color: lightpink;
}

footer h1 {
	font-size: 10px;
	background-color: greenyellow;
}

main a {
	color: mediumpurple;
	text-decoration: none;
	color: mediumpurple; 
    text-decoration: none; /* section for links */
    transition: color 0.3s, text-decoration 0.3s; 
}
a:hover {
    color: red; 
    text-decoration: underline; 
}

Header {
	color: mediumpurple;
	background-color: yellow;
}
main a: {
	color: red;
	background-color: yellow;
}

img.detail {width: 300px;}
img.instalation {width: 10px;}